/* header */
.nav-item {
    position: absolute;
    display: inline-block;
}

/* orderPayment header */
.orderPayment-header {
    position: relative;
    left: 1%;
    margin-top: 2%;
    font-size: 30px;
    font-weight: bolder;
}

.productInfo {
    position: relative;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 50px;
    width: 181px;
    height: 48px;
}

.sideProcess {
    font-size: 20px;
    position: absolute;
    top: 20%;
    right:5%;
    display: inline-block;
}

.span {
    color: #abacac;
}

/* orderPayment body */

.ProductInformation {
    display: flex;
    justify-content: left;
    /* flex-direction: column; */
    padding-bottom: 5%;
    height: 700px;
}

.productImage {
    padding-left: 8%;
    /* height: 40%; */
    height: 100%;
    width: 40%; 
    /* top: 12.58%; */
    margin-right: 10px;
    /* left: 1%;
    object-fit: cover;
    position: relative; */
    /* border-radius: 3%; */
    /* display: inline-block;
    white-space: nowrap;
    overflow: hidden; */

    align-items: center;
}


.productInfo-container {
    font-size: 27px;
    /* position: relative;
    left: 6%; */
    border-color: #4285f4;
    padding: 1%;
    height: 100%;
    width: 30%;
    /* top: 12.58%;
    display: inline-block; */
    outline-style: solid;
    outline-color: #D5D5D5;
    border-radius: 3%;
    padding-right: 100px;
}

.projectName,
.rewardName,
.deliverFee,
.coupon,
.orderFee {
    width: 150px;
}

.productName-container,
.rewardName-container,
.devliverFee-container,
.coupon-container,
.orderFee-container {
    display: flex;
    align-items: left;
}


/* funding supporter, rewardDestination */
/* funding supporter */

.fundingSupporterAndRewardDestination {
    display: flex;
    align-items: center;
    justify-content: left;
    /* flex-direction: column; */
    align-self: center;
    padding-bottom: 5%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.fundingSupporter-container {
    width: 46%;
    padding-left: 9%;
}
    
.fundingSupporter-title {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 15px;
}

.fundingSupporter-container2 {
    width: 75%;
    height: 70%;
    outline-color: #D5D5D5;
    outline-style: solid;
    padding: 5%;
}

.supporter-name-inputted-value,
.supporter-email-inputted-value,
.support-phone-number-inputted-value {
    color: #D5D5D5;
}

.rewardDestination-container {
    width: 36%;
    height: 200%;
}

.rewardDestination-title {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 15px;
}


.rewardDestination-container2 {
    height: 70%;
    padding: 5%;
}

.conditions {
    font-size: 7px;
}

/* paymentMethod-container */
.payment {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.kakaopay {
    height: 50px;
    width: 50px;
    padding-left: 1%
}

.paymentMethod-container {
    padding-left: 1%;
    padding-right: 40%;
    height: 100px;
}

.finalPayment-container {
    height: 100px;
    .finalPayment {
        font-size: 20px;
        font-weight: bolder;
        padding-bottom: 15%;
    }
    .finalPaymentAmount {
        font-size: 35px;
    }
}

.tNcPayment-container {
    padding-left: 1%;
}

/* 약관동의 checkbox */

/* Define styles for the custom checkbox */
.custom-checkbox {
    width: 20px;
    height: 20px;
    background-color: #FCA652; /* Default background color */
    border: 2px solid #FCA652; /* Default border color */
    display: inline-block;
    cursor: pointer;
}

/* Define styles for the custom checkbox when checked */
input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #007bff; /* Change background color when checked */
    border-color: #007bff; /* Change border color when checked */
}






.checkbox,
.conditions {
    font-size: 15px;
    padding-top: 2%;
    display: inline-block;
}


/* terms and conditions */
.agreeToTermsAndConditions {
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 2%;
}


.agreeToTermsAndConditions-container {
    padding: 1%;
    outline-color: #D5D5D5;
    outline-style: solid;
    width: 30%;
}

.agreeToAll {
    font-size: 30px
}

.ontoPayment {
    justify-content: center;
    display: flex;
}

.error {
    color: red;
}